@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

:root {
  --bg-color: #202632;
  --box-color:  #313A49;
  --neon-green: hsl(150, 100%, 66%);
  --white: hsl(193, 38%, 86%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: var(--bg-color);
}
